@import url('https://fonts.googleapis.com/css2?family=Hind&display=swap');

body{
    font-family: 'Hind', sans-serif;
    font-size: 1.3em;
    background-color: #2C2F33;
    color: white;
    text-align: center;
}

table{
    border-collapse: separate;
    border:  #23272A 2px solid;
    margin: 0 auto 100px auto;
    box-shadow: 8px 8px 5px #23272A;
}

th{
    padding: 10px 10px 10px 10px;
    background-color: #23272A;
}

td{
    padding: 10px 10px 10px 10px;
    width: 400px;
    height: 70px;
}

footer{
    background-color: #23272A;
    text-align: center;
    font-size: 0.7em;
    padding: 10px 0 10px 0;
}

.normal{
    background-color: #424549;
}

.mod{
    font-weight: bold;
    background-color: #7289DA;
    padding: 0 10px 0 10px;
}

#head {
    font-size: 1.3em;
}

#header{
    background-color: #424549;
    margin: 0 auto 100px auto;
    padding: 0 0 30px 0;
    border:  #23272A 2px solid;
    box-shadow: 8px 8px 5px #23272A;
    border-collapse: collapse;
    border-radius: 50px;
    width: 1300px;
}

#PreciousBot{
    color: #22d2e6;
}

#ZaddyBot{
    color: #b321fc;
}

#Bot{
    color: red;
}